<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/result" method="get">
        <label>Pierwsza liczba</label>
        <input name="firstNumber" type="number">
        <label>Druga liczba</label>
        <input name="secondNumber" type="number">
        <p>Operacja:<p>
        <select name="operation">
            <option value="dodawanie">Dodawanie</option>
            <option value="odejmowanie">Odejmowanie</option>
            <option value="mnozenie">Mnożenie</option>
            <option value="dzielenie">Dzielenie</option>
        </select>
        <button type="submit">Dodaj</button>

    </form>
</body>
</html>